/* Outer Cursor Ring */
.cursorRing {
  position: fixed;
  width: 30px;
  height: 30px;

  background: conic-gradient(
    transparent 0deg 45deg,
    rgba(0, 0, 0, 0.5) 45deg 135deg,
    transparent 135deg 225deg,
    rgba(0, 0, 0, 0.5) 225deg 315deg,
    transparent 315deg 360deg
  );

  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;

  transform: translate(-50%, -50%);
  will-change: transform;

  -webkit-mask: radial-gradient(circle, transparent 65%, black 66%);
  mask: radial-gradient(circle, transparent 65%, black 66%);

  animation: rotateRing 4s linear infinite;
  transition: width 0.15s ease, height 0.15s ease;
}

/* Expanded State */
.expand {
  width: 62px;
  height: 62px;
  animation-duration: 2s;
}

/* Ring Rotation */
@keyframes rotateRing {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 1024px){
  .cursorRing{
    display: none;
  }
}

@media (max-width: 768px){
  .cursorRing{
    display: none;
  }
}