.introVideo {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}

/* BOTH PANELS */
.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  transition: transform 1.2s
    cubic-bezier(0.77, 0, 0.175, 1);
}

/* LEFT PANEL */
.left {
  left: 0;
}

/* RIGHT PANEL */
.right {
  right: 0;
}

/* FULL VIDEO */
.splitVideo {
  position: absolute;
  top: 0;

  width: 200%;
  height: 100%;

  object-fit: cover;

  filter: brightness(0.1);
}

/* LEFT SIDE OF VIDEO */
.leftVideo {
  left: 0;
}

/* RIGHT SIDE OF VIDEO */
.rightVideo {
  left: -100%;
}

/* OUTRO */
.closingLeft {
  transform: translateX(-100%);
}

.closingRight {
  transform: translateX(100%);
}