/* ================================ */
/* ===== GOOGLE FONT IMPRORTS ===== */
/* ================================ */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.pixelify {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}


.syne{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* ================================ */




/* ==== REUSABLE VARIABLE CSS ==== */
:root {
    --background: rgb(15, 15, 15);
    --foreground: #e8e8ea;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --foreground: black;
    }
}
/* ================================ */

/* ================================ */

::-webkit-scrollbar {
    display: none;
}

/* DEBUG OUTLINE */
* {
    outline: 1px solid rgba(255, 0, 0, 0) !important;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;

    overscroll-behavior-y: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;

    background: var(--background);
    color: var(--foreground);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}