/* ========================= */
/* PAGE */
/* ========================= */

.page {
  min-height: 100vh;

  background-color: var(--background);
  color: var(--text);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


/* ========================= */
/* DARK THEME */
/* ========================= */

.dark {
  --background: #000000;
  --text: #ffffff;

  /* White static grid */
  --grid-color: rgba(255, 255, 255, 0.115);
}


/* ========================= */
/* LIGHT THEME */
/* ========================= */

.light {
  --background: #ffffff;
  --text: #000000;

  /* Black static grid */
  --grid-color: rgba(0, 0, 0, 0.185);
}


/* ========================= */
/* HERO CONTAINER */
/* ========================= */

.container {
  position: relative;

  width: 100%;
  min-height: 100vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


/* ========================= */
/* STATIC GRID */
/* ========================= */

.container::before {
  content: "";

  position: absolute;
  inset: 0;

  pointer-events: none;

  background-image:
    linear-gradient(
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      var(--grid-color) 1px,
      transparent 1px
    );

  background-size: 40px 40px;

  -webkit-mask-image: radial-gradient(
    circle at center,
    black 60%,
    transparent 100%
  );

  mask-image: radial-gradient(
    circle at center,
    black 60%,
    transparent 100%
  );

  z-index: 0;
}


/* ========================= */
/* CONTENT */
/* ========================= */

.profile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

  margin-top: 70px;
  padding: 30px;
  gap: 40px;

  z-index: 2;
}

/* DARK MODE */
.dark .profile {
  background: rgba(0, 0, 0, 0.616);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
}


.light .profile {
  background: rgba(255, 255, 255, 0.712);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(0, 0, 0, 0.342);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

.profile_image{
  height: auto;
  width: 250px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 2;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.profile_description{
  z-index: 2;
  max-width: 400px;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.profile_description h1{
  font-size: 48px;
  letter-spacing: 30px;

  text-align: center;


  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.profile_description p{
  font-size: 16px;

  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}


.social_media{
  display: flex;
  gap: 40px;
  position: relative;
}


.statistical_container{
  display: flex;
  justify-content: center;

  margin-top: 20px;
  gap: 60px;


  position: relative;
  z-index: 2;
  padding: 10px 40px;
  border-radius: 10px;
}


.stat{
  position: relative;
  text-align: center;
}

.stat:not(:first-child)::before{
  content: "";
  position: absolute;

  left: -30px;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 50px;
  background-color: var(--text);
}

.stat h2{
  font-size: 30px;
  margin: 0;
}

.stat p{
  margin: 5px 0 0;
}

/* DARK MODE */
.dark .statistical_container {
  background: rgba(0, 0, 0, 0.616);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
}


.light .statistical_container {
  background: rgba(255, 255, 255, 0.712);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(0, 0, 0, 0.342);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.8);
}




/* ========================= */
/* ABOUT */
/* ========================= */

.aboutPreview {
  position: relative;

  width: 100%;
  min-height: 100vh;

  background-color: var(--background);
  color: var(--text);

  z-index: 2;
}


/* ========================= */
/* THEME BUTTON */
/* ========================= */

.themeButton {
    position: fixed;

    bottom: 20px;
    right: 30px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;

    background-color: transparent;

    border: 1px solid var(--text);
    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;

    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.themeButton:hover {
    transform: scale(1.1);
}

.themeButton:active {
    transform: scale(0.95);
}

.themeIcon{
    width: 25px;
    height: 25px;

    object-fit: contain;
    display: block;

    pointer-events: none;
    user-select: none;
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 768px) {
  .container {
    min-height: 100svh;
  }

  .aboutPreview {
    min-height: 100svh;
  }

  .themeButton {
    bottom: 20px;
    right: 20px;

    width: 30px;
    height: 30px;

    font-size: 20px;
  }
}